/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Kanit', sans-serif;
}

.head-section {
    width: 100%;
}

nav {
    height: 60px;
}

.Logo {
    width: 40px;
    margin-right: 12px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.cart {
    background: none;
    border: none;
}

.cart i {
    font-size: 24px;
}

.m-custom {
    margin-top: 60px;
}

.hero-section {
    width: 100%;
    height: 100vh;
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffffff, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffffff, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner-section {
    width: 100%;
    height: 50vh;
    background: #ffe0e0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffe0e0, #ffffff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffe0e0, #ffffff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-section {
    width: 100%;
    height: 60vh;
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffffff, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffffff, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img-custom {
    width: auto;
    height: 100vh;
    object-fit: cover;
}

.content {
    width: 50%;
    height: 100%;
    align-items: center;
}

.img-banner-custom {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.text-orange {
    color: orange;
}

.text-custom1 {
    font-size: 64px;
}

.text-custom2 {
    font-size: 32px;
}

.text-custom3 {
    font-size: 18px;
}

.icon-custom {
    width: 60px;
    text-align: start;
}

.card {
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bd-placeholder-img {
    background-image: url('./Frontend_Assets/minimal-empty-room-mockup-with-white-patterned-wall.jpg');
    background-size: cover;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.best-seller-pulse {
    color: #ff0000;
    font-weight: bold;
    display: inline-block;
    animation: pulse 0.5s infinite;
}

@media (max-width: 992px) {
    .text-custom1 {
        font-size: 54px;
    }

    .w-contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mf-contact {
        margin-bottom: 3rem;
    }
}

@media (max-width: 768px) {
    .hero-section {
        height: 100%;
    }
    .container-button-custom {
        width: 100%;
        justify-content: center;
        margin: 10px 0;
    }

    .img-custom {
        height: 50vh;
    }

    .img-banner-custom {
        display: none;
    }

    .text-custom1 {
        font-size: 40px;
    }

    .content {
        width: 100%;
        height: 100%;
        justify-content: center;
    }
}